@font-face {
  font-family: "DM Sans";
  src: url(../fonts/DM_Sans/static/DMSans-Regular.ttf);
}

.text-orange {
  color: #fd6506;
}

.bg-orange {
  background-color: #fd6506;
}
.bg-pink {
  background-color: #ffd8d7;
}
.wrapper {
  width: 100%;
  height: 100%;
  font-family: "DM Sans", sans-serif;
}

.header-banner {
  height: 54px;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.banner-item__offer,
.banner-item__icon {
  color: #ffff00;
}

.header-appbar {
  height: 90px;
  background-color: #fd6506;
}

.header-navbar {
  height: 52px;
}

.shopify-logo {
  width: 180px;
  height: 38px;
}

.header-appbar__left__service {
  font-size: 14px;
}

.header-appbar__search .search-wrapper {
  width: 80%;
  height: 50px;
}

input::placeholder {
  color: #999;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  outline: none;
}

.header-appbar__options {
  height: 54px;
  font-size: 14px;
}

.header-navbar {
  height: 52px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.main {
  min-height: 100vh;
  background-color: rgb(245 245 245);
}

.navbar-items {
  font-weight: 500;
}
.navbar-items:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header-navbar__language {
  font-size: 14px;
}

.language-image {
  width: 16px;
  height: 16px;
}

.main-ad {
  height: 80px;
  font-size: 14px;
}

.main-highlight__categories {
  font-size: 14px;
}

.handle-color {
  width: 24px;
  height: 24px;
}

.single-item__wrapper {
  position: relative;
}

.sale-tag {
  font-size: 16px;
  background-color: #d70018;
  position: absolute;
  top: 0px;
  left: -4px;
}

.tag-shadow {
  width: 4px;
  height: 8px;
  position: absolute;
  top: 20px;
  left: 0px;
  background-color: #d700196c;
}

.button-add-product {
  height: 40px;
  font-size: 14px;
  background-color: #fff;
  color: #000;
}

.button-add-product:hover {
  background-color: #0a6cdc;
  color: #fff;
  border: none;
}

.button-favorite {
  width: 40px;
  height: 40px;
}

.button-favorite:focus {
  color: red;
  background-color: pink;
}

.main-products__showmore > button {
  font-weight: 600;
  background-color: inherit;
}

.main-products__showmore > button:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.newsletter-submit {
  height: 50px;
}

.button-submit {
  background-color: #fd6506;
  color: #fff;
  font-weight: 600;
  border: none;
}

.button-submit:hover {
  background-color: #000;
}

.list-item > a {
  color: #000;
  text-decoration: none;
  padding-top: 2px;
}

.list-item > a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.list-item >